

<ul data-role="listview" data-filter="true" data-autodividers="true" data-inset="false">
        <li><a href="#">Jay Z</a></li>
        <li><a href="#">Jack Johnson</a></li>
        <li><a href="#">Jonson Tsai</a></li>
        <li><a href="#">Paul Ng</a></li>
        <li><a href="#">Paul McCartney</a></li>
        <li><a href="#">Shing Hong Yip</a></li>
        <li><a href="#">Steve Nash</a></li>
        <li><a href="#">Walter Han</a></li>
        <li><a href="#">Wale</a></li>
</ul>
