<label for="select-choice-0" class="select">Sport:</label>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">Basketball</option>
  <option value="rush">Flag Football</option>
  <option value="express">Tennis</option>
  <option value="overnight">Volleyball</option>
</select>
<br />
<label for="selectdate" class="select">Date:</label>
<input type="date" name="selectdate" id="date" value=""  />

<label for="start-time" class="select">Start Time:</label>
<select name="start-time" id="start-time-0">
  <option value="standard">12</option>
  <option value="rush">1</option>
  <option value="express">2</option>
  <option value="overnight">3</option>
</select>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">00</option>
  <option value="rush">15</option>
  <option value="express">30</option>
  <option value="overnight">45</option>
</select>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">AM</option>
  <option value="rush">PM</option>
</select>
