<fieldset>
<label for="select-choice-0" class="select">Sport:</label>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">Basketball</option>
  <option value="rush">Flag Football</option>
  <option value="express">Tennis</option>
  <option value="overnight">Volleyball</option>
</select>
<br />
<label for="date">Choose a Date and Time:</label>
<input type="date" name="date" id="date" value=""  />	
</fieldset>

<fieldset data-role="controlgroup" data-type="horizontal">
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">12</option>
  <option value="rush">1</option>
  <option value="express">2</option>
  <option value="overnight">3</option>
</select>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">00</option>
  <option value="rush">15</option>
  <option value="express">30</option>
  <option value="overnight">45</option>
</select>
<select name="select-choice-0" id="select-choice-0">
  <option value="standard">AM</option>
  <option value="rush">PM</option>
</select>
