<ul data-role="listview" data-inset="true" data-filter="false">
        <li><a href="#">Start a Game</a></li>
        <li><a href="#">My Games</a></li>
        <li><a href="#">Join Game</a></li>
</ul>


