<ul data-role="listview" data-inset="true" data-filter="false">
        <li><%= link_to 'Start a Game', games_start_path %></li>
        <li><%= link_to 'My Games', games_current_path %></li>
        <li><%= link_to 'Join Game', games_join_path %></li>
</ul>


