
<div data-role="collapsible" data-theme="b" data-content-theme="c" id="outer-collapsible" data-inset="false" data-collapsed-icon = "arrow-d" data-iconpos = "right" data-expanded-icon="arrow-u">
    <h2>Notifications</h2>    
	<ul data-role="listview" data-mini="true">
            <li data-icon="delete">
		<a>Please verify your email address</a>
	    </li>
	    <li data-icon="delete">
		<a>Please verify your credit card number</a>
	    </li>

	</ul>
</div>

<div data-role="collapsible" data-theme="b" data-content-theme="c" id="outer-collapsible" data-inset="false" data-collapsed-icon = "arrow-d" data-iconpos = "right" data-expanded-icon="arrow-u">
    <h2>Messages</h2>    
	<ul data-role="listview">
	    <li>
		<h3>Shing Hong Yip</h3>
		<p>Me love you long time baby xoxo</p>
		<p class="ui-li-aside"><strong>6:24</strong>PM</p>
	    </li>
	    <li>
		<h3>Jonson Tsai</h3>
		<p>Lolol</p>
		<p class="ui-li-aside"><strong>6:24</strong>PM</p>
	    </li>        
	</ul>
</div>
<div data-role="collapsible" data-theme="b" data-content-theme="c" id="outer-collapsible" data-inset="false" data-collapsed-icon = "arrow-d" data-iconpos = "right" data-expanded-icon="arrow-u">
    <h2>Calendar</h2>    
	<ul data-role="listview">
	    <li>
		<h3>Stephen Weber</h3>
		<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
		<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
		<p class="ui-li-aside"><strong>6:24</strong>PM</p>
	    </li>
	    <li>
		<h3>Stephen Weber</h3>
		<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
		<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
		<p class="ui-li-aside"><strong>6:24</strong>PM</p>
	    </li>        
	</ul>
</div>
