<h1>DRAFT.ME</h1>
<p>Some picture and logo go here</p>
<br /><br /><br />

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
  <ul >
            <li><%= link_to 'Messages', site_home_path,  :class =>"ui-btn ui-icon-mail ui-btn-icon-top" %></li>
            <li><%= link_to 'Games', site_games_path, :class =>"ui-btn ui-icon-bullets ui-btn-icon-top" %></li>
            <li><%= link_to 'People', site_people_path, :class =>"ui-btn ui-icon-edit ui-btn-icon-top" %></li>
            <li><%= link_to 'Account', site_account_path, :class =>"ui-btn ui-icon-user ui-btn-icon-top" %></li>
        </ul>
  </div>
</div>

